.menu{color:white;
background-color:navy;
width:100%;
font-size:15px;
height:50px;}

#first{font-size:20px;
padding:0px 270px 0px 30px;}

ul{padding:10px;
list-style-type:none;
margin:0px;}

li{display:inline;
padding:20px;
}
img{display:block;
clip-path: circle();
margin:auto;
padding-top:50px;
width:20%;}
.paragraphs{color:slateblue;
    text-align:center;}
#paraone{font-weight:bold;
font-size: x-large;}
#paratwo #parathree{font-size:60px;}

.menu2{background:navy;
    color: snow;
width:100%;
padding-left:100px;
padding-top:50px;}
#para1{font-size:20px;}
#para2{font-size:10px;
padding-bottom:40px;}
#para3{ position:;
    display:inline-flex;
text-align:right;
padding-top:0px;}
#para4{flex-wrap:display:inline;}
#para5{}
.newpara{font-weight:bold;
color:rgba(0, 140, 255, 0.993);
padding:50px 0px 30px 100px;}
h1{font-size:15px;} 

.container{display:flex;
font-size:11px;}

 #one{background:black;
width:160px;
color:snow;
padding:20px; 
margin:0px 0px 0px 90px;
text-align: center;
border-radius:10px;}

#two{background:black;
    width:160px;
    color:snow;
    padding:20px;
margin:0px 50px 0px 50px; 
text-align:center;
border-radius:10px;}

    #three{background:black;
        width:160px;
        color:snow;
        padding:20px;
    border-radius:10px;
text-align:center;}
.lastitem{background:navy;
color:snow;
width:100%;
text-align:center;
height:200px;
margin-top:70px;
}
#lastitemfirstpara{padding-top:50px;}